<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="MEStyle.css">
    <meta charset="UTF-8">
    <title>Muzzle energy calculator</title>
</head>

<body>
<div align="RIGHT">(c)2021, Christian Bjørnsrud &nbsp&nbsp&nbsp&nbsp&nbsp <a href="/">Norsk</a> | <b>English</b></div>
<h1> Muzzle energy calculator demo</h1>
<form action="#" th:action="@{/en}" method="post" th:object="${input}">
    <input type="radio" class="radio" th:field="*{units}" value="IMPERIAL"/>Use imperial units <i>(feet pr. second /
    grains)</i>
    <input type="radio" class="radio" th:field="*{units}" value="METRIC"/>Use metric units <i>(meters pr. second /
    grams)</i><br/><br/>

    <label>Velocity:</label>
    <input type="text" th:field="*{velocity}"/>
    <br/>

    <label>Mass:</label>
    <input type="text" th:field="*{mass}"/>

    <br/>

    <label>Caliber name:</label>
    <input type="text" th:field="*{caliber}"/><br/><br/>
    <input type="submit" class="button" value="CALCULATE!"/>
</form>
<br>

<div th:unless="${#lists.isEmpty(results)}" class="latest" th:text="'Latest calculations:'"></div>
<ul th:each="result: ${results}">
    <b>
        <div th:text="${result.humanReadableTimeStamp}"></div>
    </b>
    <br>
    <div th:text="${result.units == T(net.ckb78.MuzzleEnergy.controller.Units).IMPERIAL ? ' Imperial' : ' Metric'} + ' units were used in this calculation.'"></div>
    <br>
    <div th:text="'Caliber................:  ' + ${result.caliber}"></div>
    </i>
    <div th:text="'Velocity ..............:  ' + ${result.velocity} + ' ' + ${result.units == T(net.ckb78.MuzzleEnergy.controller.Units).IMPERIAL ? ' feet/sec.' : ' meter/sec.'}"></div>
    <div th:text="'Mass ..................:  ' + ${result.mass} + ' ' + ${result.units == T(net.ckb78.MuzzleEnergy.controller.Units).IMPERIAL ? ' grains.' : ' grams.'} "></div>
    <br>
    <div th:text="'Muzzle energy..........:  ' + ${result.energy} + ' ' + ${result.units == T(net.ckb78.MuzzleEnergy.controller.Units).IMPERIAL ? ' foot/pounds.' : ' joule.'}"></div>
    <div th:text="'Muzzle energy..........:  ' + ${result.altEnergy} + ' ' + ${result.units == T(net.ckb78.MuzzleEnergy.controller.Units).IMPERIAL ? ' joule' : ' foot/pounds.'}"></div>

    <br>
</ul>
</body>
</html>