<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="MEStyle.css">
    <meta charset="UTF-8">
    <title>Utgangsenergi-kalkulator</title>
</head>

<body>
<div align="RIGHT">CKB78/2021 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Norsk</b> | <a href="/">English</a></div>
<h1> Enkel utgangssenergi-kalkulator</h1>
<form action="#" th:action="@{/no}" method="post" th:object="${input}">

    <input type="radio" th:field="*{units}" value="METRIC"/>Bruk metriske enheter <i>(meter pr. sekund / gram)</i>
    <input type="radio" th:field="*{units}" value="IMPERIAL"/>Bruk amerikanske enheter <i>(fot pr. sekund /
    grain)</i><br/><br/>

    <label>Hastighet:</label>
    <input type="text" th:field="*{velocity}"/>
    <br/>

    <label>Masse:</label>
    <input type="text" th:field="*{mass}"/>
    <br/>

    <label>Produsent:</label>
    <input type="text" th:field="*{producer}"/>
    <br/>

    <label>Patron:</label>
    <input type="text" th:field="*{caliber}"/><br/><br/>
    <input type="submit" class="button" value="KALKULER!"/>
    <span th:unless="${validInput}"><b>Ugyldig data!</b></span>
</form>
<br>

<div th:unless="${#lists.isEmpty(results)}" class="latest" th:text="'Siste utregninger:'"></div>
<ul th:each="result: ${results}">
    <b>
        <div><b><span th:text="${result.humanReadableTimeStamp}"></span></b><span th:if="${resultStat.first && resultStat.size > 1}"> ➕</span></div>
    </b>
    <br>
    <div th:text="${result.units == T(net.ckb78.EnergyCalcDemo.service.Units).IMPERIAL ? ' Amerikanske' : ' Metriske'} + ' enheter ble brukt i denne utregningen.'"></div>
    <br>
    <div th:text="'Kalkulerings id........:  ' + ${result.id}"></div>
    <div th:text="'Produsent..............:  ' + ${result.producer}"></div>
    <div th:text="'Patron.................:  ' + ${result.caliber}"></div>
    <br>
    <div th:text="'Hastighet .............:  ' + ${result.velocity} + ' ' + ${result.units == T(net.ckb78.EnergyCalcDemo.service.Units).IMPERIAL ? ' fot pr. sekund.' : ' meter i sekundet.'}"></div>
    <div th:text="'Masse .................:  ' + ${result.mass} + ' ' + ${result.units == T(net.ckb78.EnergyCalcDemo.service.Units).IMPERIAL ? ' grain.' : ' gram.'} "></div>
    <div th:text="'Munningsenergi.........:  ' + ${result.energy} + ' ' + ${result.units == T(net.ckb78.EnergyCalcDemo.service.Units).IMPERIAL ? ' pund pr. kvadratfot (ft/lbs).' : ' joule.'}"></div>
    <div th:text="'.......................:  ' + ${result.altEnergy} + ' ' + ${result.units == T(net.ckb78.EnergyCalcDemo.service.Units).IMPERIAL ? ' joule.' : ' pund pr. kvadratfot.'}"></div>

    <br>

</ul>
</body>
</html>