<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="MEStyle.css">
    <meta charset="UTF-8">
    <title>Muzzle energy calculator</title>
</head>

<body>
<h1> Simple muzzle energy calculator</h1>
<hr>
<form method="post" action="/">
    <input type="text" name="velocity" placeholder="Muzzle velocity in feet/sec.">
    <input type="text" name="weight" placeholder="Bullet weight in grain.">
    <input type="text" name="caliber" placeholder="Caliber (optional).">
    <input type="submit" value="CALCULATE!"/>
</form>
<hr>
<ul th:each="result: ${results}">
    <b>
        <div th:text="${result.calculationNumber} + ' : Calculated ' + ${result.humanReadableTimeStamp}"></div>
    </b>
    <br>
    <div th:text="'Caliber................: ' + ${result.caliber}"></div>
    </i>
    <div th:text="'Mass (gr.)...........: ' + ${result.bulletWeight}"></div>
    <div th:text="'Velocity (fps.)....: ' + ${result.muzzleVelocity}"></div>
    <br>
    <div th:text="'Energy (ft/lbs)....: ' + ${result.muzzleEnergyFtLbs}"></div>
    <div th:text="'Energy (joule)....: ' + ${result.muzzleEnergyJoule}"></div>
    <br>
    <hr>

</ul>
</body>
</html>